<%- include('../includes/head.ejs') %>

    <body>
        <!-- HEADER -->
        <%- include('../includes/admin/header_admin.ejs') %>
            <!-- CONTENT -->
            <main>
                <div class="container">
                    <h1>Ticket dashboard</h1>
                    <section>
                        <% if (num_tickets.num_managed_ticket==0) { %>
                            <!-- LINK TO PAGE -->
                            <p>Link page</p>
                            <% } else { %>
                                <!-- SEE TICKET AND OPERATION -->
                                <p>Show possible ticket action</p>
                                <% } %>
                    </section>
                </div>
            </main>
            <!-- FOOTER -->
            <%- include('../includes/admin/footer_admin.ejs') %>
                <!-- SCRIPTS-->
                <%- include('../includes/scripts.ejs') %>
    </body>

    </html>