<footer class="footer border-top border-dark-subtle light-bg">
    <div class="container pt-4 pb-5">
        <div class="row align-items-strat">
            <div class="col">
                <span class="fw-bold">PAGES</span>
            </div>
            <div class="col">
                <span class="fw-bold">USEFUL LINKS</span>
                <div class="row">
                    <span class="">Terms of Service</span>
                    <span class="">Privacy Policy</span>
                    <span class="">Cookie Policy</span>
                </div>
            </div>
            <div class="col">
                One of three columns
            </div>
            <div class="col">
                <span class="fw-bold">WHERE WE ARE</span>
                <div id="map"></div>
            </div>
        </div>
    </div>
</footer>