<header class="header">
    <nav
        class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom border-dark-subtle shadow mb-5 sticky-top light-bg">
        <div class="container">
            <a class="navbar-brand link" href="/"><!-- inserisci img logo -->NGR</a>
            <!-- BUTTON SHOW SMALL SCREEN -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- ALL PAGES LINK -->
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarNavAltMarkup">
                <!-- MAIN PAGES -->
                <div class="d-sm-inline-flex gap-4">
                    <a class="nav-link link">Prima pagina</a>
                    <a class="nav-link link">Seconda pagina</a>
                    <a class="nav-link link">Terza pagina</a>
                </div>
                <!-- LOG PAGES -->
                <div class="d-sm-inline-flex gap-4">
                    <a class="nav-link link" href="/signup">Register</a>
                    <a class="nav-link link" href="/login">Login</a>
                </div>
            </div>
        </div>
    </nav>
</header>