* {
    font-family: "Roboto flex", serif;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #FAF9F6;
}

h1, h2, h3, h4, h5, h6, span {
    color: var(--secondary) !important;
}

.bigger-font {
    font-size: 1.3rem !important;
}

.blue {
    color: var(--secondary) !important;
}

.blue-bg {
    background: var(--primary) !important;
}

footer {
    width: 100%;
    position: relative;
    background-color: #eceef0;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    margin-top: auto;
}


.link {
    text-decoration: none !important;
    color: var(--secondary);
    transition: all 0.3s ease;
}

.link:hover {
    color: var(--tertiary);
    text-shadow: 0px 0px 10px rgba(0, 123, 255, 0.3);
    text-decoration: none;
    cursor: pointer;
}

.static-link {
    color: var(--static-link-color);
    font-weight: 500;
    text-decoration: none;
    cursor: context-menu;
}

.static-link:hover {
    color: var(--static-link-color);
    font-weight: 500;
    text-decoration: none;
    cursor: context-menu;
}

.padding-l {
    padding-left: 1rem;
}

.padding-r {
    padding-right: 1rem;
}

.light-bg {
    background-color: var(--light-bg) !important;
}

.blue-text {
    color: var(--tertiary);
}

:root {
    --primary: #eef6fd;
    --secondary: #170763;
    --tertiary: #3963b3;
    --fourth: #90e5dd;
    --primary-color: #1aa398;
    --secondary-color: rgb(17, 138, 128);
    /*--light-bg: #d7f8f4;*/
    --light-bg: var(--primary);

    --button-color: #abc0e6;
    --button-color-hover: #98b0dc;

    --on-active-button-color: #449c95;
    --on-over-link-color: #118a80;

    --static-link-color: #08baa3;
    --error-color: red;
    --check-color: #19bd19;

    --border-color: #06615667;
    --outline: #0f908139;

    --ticket-color: #f1fffc;
    --ticket-hover-color: #ecfffb;
}

.icon-dimension {
    max-width: 1.5rem;
    max-height: 1.5rem;
}

[title] {
    position: relative;
    cursor: help; /* Cambia il cursore quando ci si posiziona sopra */
}

[title]:hover::after {
    content: attr(title);
    position: absolute;
    padding: 5px 10px;
    border-radius: 5px;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap; /* Evita il testo su più righe */
    z-index: 999; /* Assicura che il tooltip sia sopra gli altri elementi */
}

.max-width {
    max-width: 50rem;
}

.border {
    border: var(--border-color) solid 1px !important;
}

.width {
    width: auto !important;
}

.shadow-box {
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.10);
}

.send-button {
    padding: 10px 20px;
    background-color: var(--button-color);
    font-size: medium;
    color: #000000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.10);
    transition: background-color 500ms ease;
}

.send-button:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, .10);
    background-color: var(--button-color-hover);
    transition: all 500ms ease-out;
}

.send-button:active {
    background-color: var(--button-color);
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.10);
}

/* MAP STYLE */
#map {
    height: 8rem;
    width: 16rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.10);
}

.area-style {
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #fff;
    font-size: 1rem;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.10);
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.area-style:hover {
    box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, .10);
    transition: all 500ms ease-out;
}

.area-style:focus {
    border-color: var(--border-color);
    outline: none;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.10);
}

.select-style {
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #fff;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.10);
    font-size: 1rem;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select-style:hover {
    box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, .10);
    transition: all 500ms ease-out;
}

.select-style:focus {
    border-color: var(--border-color);
    outline: none;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.10);
}

select.decorated option:hover {
    background-color: red !important;
}

.ticket-container {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    background-color: var(--primary);
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.10);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ticket-container:hover {
    box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, .10);
    background-color: #ddedfb;
    transition: all 500ms ease-out;
}

.pie-dimension {
    height: 9rem;
}

.width-container {
    width: 15rem;
}

.in-w {
    width: 20rem;
}

.error {
    color: var(--error-color);
}

.check {
    color: var(--check-color);
}

.logo-size {
    width: 5rem;
}

.nl {
    white-space: pre-wrap;
}

.margin-auto {
    margin: auto; 
}

.like-button {
    background:transparent; 
    border:none;
}

.switch-color {
    transition: 0.3s;
}

.switch-color:hover {
    color: rgb(219, 20, 20);
}

.like {
    color: rgb(219, 20, 20);
    transition: 0.7s;
}

.like:hover {
    color: rgb(143, 17, 17);
}