* {
    font-family: "Roboto flex", serif;
    font-weight: 400;
    font-style: normal;
}

.link:hover {
    color: var(--on-over-link-color);
    text-shadow: 0px 0px 10px rgba(0, 123, 255, 0.3);
    /* Aggiunge un'ombra sottile */
    text-decoration: none;
    cursor: pointer;
}

.padding-l {
    padding-left: 1rem;
}

.padding-r {
    padding-right: 1rem;
}

.light-bg {
    background-color: var(--light-bg) !important;
}

:root {
    --primary-color: #1aa398;
    --secondary-color: #118a80;
    --light-bg: #d7f8f4;
    --button-color: #1aa398;
    --on-active-button-color: #118a80;
    --on-over-link-color: #118a80;
    --error-color: red;
}