/* =================================================================
MAIN
================================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto flex", serif;
    font-weight: 400;
    font-style: normal;
}

.log-background {
    background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
}

h1, h2, h3, h4, h5, span {
    color: var(--tertiary-color) !important;
}


.page-header {
    background-color: var(--light-bg);
}

/* =================================================================
TEXT
================================================================= */

#email-error {
    color: var(--error-color);
}

#current-password-error {
    color: var(--error-color);
}

#new-password-error {
    color: var(--error-color);
}

#confirm-new-password-error {
    color: var(--error-color);
}

.error-already-registred {
    color: var(--error-color);
    padding-top: 15px;
}

.error-username-password {
    color: var(--error-color);
    padding-top: 15px;
}

.general-error {
    color: var(--error-color) !important;
}

.error-already-registred {
    color: var(--error-color) !important;
}
.error-username-password {
    color: var(--error-color) !important;
}
/* =================================================================
TITLE
================================================================= */

/* pages: login.ejs, signup.ejs */
.title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.margin-bottom {
    margin-bottom: 20px;
}

/* =================================================================
LINK
================================================================= */

/* pages: login.ejs, signup.ejs */
.forgot-password {
    text-align: right;
    font-size: small;
}

/* pages: login.ejs, signup.ejs */
.log-link {
    text-align: center;
}

/* pages: login.ejs */
.remove-link-color {
    color: black;
    text-decoration: none !important;
    transition: all 0.3s ease;
}

.remove-link-color:hover {
    color: var(--on-over-link-color);
    text-shadow: 0px 0px 10px rgba(0, 123, 255, 0.3);
    /* Aggiunge un'ombra sottile */
    text-decoration: none;
    cursor: pointer;
}

/* =================================================================
SECTION
================================================================= */
section {
    margin-bottom: 20px;
}

/* pages: login.ejs */
.forgot-password-section {
    display: flex;
    justify-content: right;
    /* Aggiunta per centrare al centro */
    text-align: right;
    padding-bottom: 30px;
}

/* pages: login.ejs, signup.ejs */
.log-section {
    display: flex;
    justify-content: center;
    /* Aggiunta per centrare al centro */
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

/* =================================================================
CONTAINER
================================================================= */

/* pages: login.ejs, signup.ejs */
.log-container {
    width: 27rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* pages: login.ejs */
/* Aggiunta per nascondere il pulsante della password */
.password-input-container {
    position: relative;
}

.show-password-toggle {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1;
    color: #118a80;
    transition: all 0.3s ease;
}

.show-password-toggle:hover {
    text-shadow: 0px 0px 10px rgba(0, 123, 255, 0.3);
    /* Aggiunge un'ombra sottile */
}

/* =================================================================
FORM
================================================================= */

/* pages: login.ejs, signup.ejs */
.log-form {
    display: flex;
    flex-direction: column;
}

/* =================================================================
INPUT
================================================================= */

/* pages: login.ejs */
input {
    width: 100%;
    padding: 10px 0;
    border: none;
    /* Rimuovi il bordo */
    border-bottom: 1px solid #ccc;
    /* Aggiungi solo la sottolineatura */
    background-color: transparent;
    /* Assicurati che lo sfondo sia trasparente */
    outline: none;
    /* Rimuovi l'outline quando il campo è in focus */
}

/* =================================================================
BUTTON
================================================================= */

/* pages: login.ejs */
.log-button {
    padding: 10px 20px;
    background-color: var(--button-color);
    font-size: medium;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.log-button:hover {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .13), 0 24px 38px 3px rgba(0, 0, 0, .09), 0 9px 46px 8px rgba(0, 0, 0, .05);
    transition: all 500ms ease-out;
}

.log-button:active {
    background-color: var(--on-active-button-color);
}

/* =================================================================
GENERAL
================================================================= */

/* pages: login.ejs, signup.ejs */
.margin-b {
    margin-bottom: 20px;
}

/* pages: login.ejs */
.bold {
    font-weight: bold;
}

/* pages: login.ejs */
::placeholder {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}

/* =================================================================
ROOT
================================================================= */
:root {
    --primary-color: #eef6fd;
    --secondary-color: #90e5dd;
    --tertiary-color: #170763;
    --button-color: #1aa398;
    --light-bg: #d7f8f4;
    --on-active-button-color: #118a80;
    --on-over-link-color: #118a80;
    --error-color: red;
}