<%- include('includes/head.ejs') %>

    <body>
        <!-- HEADER -->
        <%- include('includes/header.ejs') %>
            <!-- CONTENT -->
            <main>
                <div class="container">
                    <h2>Cookie Policy</h2>
                    <p>This website uses cookies to enhance the user experience. By using this website, you consent to
                        the use of cookies in accordance with this Cookie Policy.
                    <ol>
                        <li class="fw-bold fs-4">
                            What Are Cookies
                        </li>
                        <p>
                            Cookies are small text files that are stored on your computer or mobile device when you
                            visit a website. They are widely used to make websites work more efficiently and to provide
                            information to the owners of the site.
                        </p>
                        <li class="fw-bold fs-4">How We Use Cookies</li>
                        <p>
                            We use cookies for various purposes, including:
                        <ul>
                            <li>To analyze traffic to our website.</li>
                            <li>To personalize content and ads.</li>
                            <li>To provide social media features.</li>
                        </ul>
                        </p>
                        <li class="fw-bold fs-4">Your Cookie Choices</li>
                        <p>
                            You can control and/or delete cookies as you wish. You can delete all cookies that are
                            already on your computer and you can set most browsers to prevent them from being placed. If
                            you do this, however, you may have to manually adjust some preferences every time you visit
                            a site and some services and functionalities may not work.
                        </p>
                        <li class="fw-bold fs-4">More Information</li>
                        <p>
                            For more information about cookies, including how to see what cookies have been set and how
                            to manage and delete them, visit [insert link to browser's cookie management guide].
                        </p>
                    </ol>
                    </p>
                </div>
            </main>
            <!-- FOOTER -->
            <%- include('includes/footer.ejs') %>
                <!-- SCRIPTS-->
                <%- include('includes/scripts.ejs') %>
    </body>

    </html>