<link rel="stylesheet" href="/style/style.css">
<script src="/js/functions.js"></script>
<form action="/login/password" method="post">
    <h1>Reset password</h1>
    <a href="/login">Login</a>
</form>