<%- include('includes/head.ejs') %>

<body>
<!-- HEADER -->
<%- include('includes/header.ejs') %>
<!-- CONTENT -->
<main>
    <div class="container">
        <section>
            <h2 class="mb-4 text-center">Frequently Asked Question</h2>
            <h4 class="mb-4 text-center">Software Issue</h4>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="card mb-4 shadow">
                        <div class="card-header blue-bg pt-3 text-center">
                            <h5 class="card-title">My computer won't turn on</h5>
                        </div>
                        <div class="card-body d-flex justify-content-center">
                            <ul>
                                <li>Ensure the computer is plugged in and turned on at the power source.</li>
                                <li>Press the power button and wait 30 seconds.</li>
                                <li>If the computer still doesn't turn on, there might be a hardware issue. Contact
                                    technical support.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-4 shadow">
                        <div class="card-header blue-bg pt-3">
                            <h5 class="card-title">My computer won't turn on</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Ensure the computer is plugged in and turned on at the power source.</li>
                                <li>Press the power button and wait 30 seconds.</li>
                                <li>If the computer still doesn't turn on, there might be a hardware issue. Contact
                                    technical support.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card mb-4 shadow">
                        <div class="card-header blue-bg pt-3">
                            <h5 class="card-title">My computer won't turn on</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Ensure the computer is plugged in and turned on at the power source.</li>
                                <li>Press the power button and wait 30 seconds.</li>
                                <li>If the computer still doesn't turn on, there might be a hardware issue. Contact
                                    technical support.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="mb-4 text-center">Software Issue</h4>
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <div class="card mb-4 shadow">
                        <div class="card-header blue-bg pt-3">
                            <h5 class="card-title">My computer won't turn on</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Ensure the computer is plugged in and turned on at the power source.</li>
                                <li>Press the power button and wait 30 seconds.</li>
                                <li>If the computer still doesn't turn on, there might be a hardware issue. Contact
                                    technical support.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="card mb-4 shadow">
                        <div class="card-header blue-bg pt-3">
                            <h5 class="card-title">My computer won't turn on</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Ensure the computer is plugged in and turned on at the power source.</li>
                                <li>Press the power button and wait 30 seconds.</li>
                                <li>If the computer still doesn't turn on, there might be a hardware issue. Contact
                                    technical support.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="card mb-4 shadow">
                        <div class="card-header blue-bg pt-3">
                            <h5 class="card-title">My computer won't turn on</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Ensure the computer is plugged in and turned on at the power source.</li>
                                <li>Press the power button and wait 30 seconds.</li>
                                <li>If the computer still doesn't turn on, there might be a hardware issue. Contact
                                    technical support.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="mb-4 text-center">Software Issue</h4>
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <div class="card mb-4 shadow">
                        <div class="card-header blue-bg pt-3">
                            <h5 class="card-title">My computer won't turn on</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Ensure the computer is plugged in and turned on at the power source.</li>
                                <li>Press the power button and wait 30 seconds.</li>
                                <li>If the computer still doesn't turn on, there might be a hardware issue. Contact
                                    technical support.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="card mb-4 shadow">
                        <div class="card-header blue-bg pt-3">
                            <h5 class="card-title">My computer won't turn on</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Ensure the computer is plugged in and turned on at the power source.</li>
                                <li>Press the power button and wait 30 seconds.</li>
                                <li>If the computer still doesn't turn on, there might be a hardware issue. Contact
                                    technical support.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="card mb-4 shadow">
                        <div class="card-header blue-bg pt-3">
                            <h5 class="card-title">My computer won't turn on</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Ensure the computer is plugged in and turned on at the power source.</li>
                                <li>Press the power button and wait 30 seconds.</li>
                                <li>If the computer still doesn't turn on, there might be a hardware issue. Contact
                                    technical support.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- FOOTER -->
<%- include('includes/footer.ejs') %>
<!-- SCRIPTS-->
<%- include('includes/scripts.ejs') %>
</body>

</html>