<%- include('includes/head.ejs') %>

    <body>
        <!-- HEADER -->
        <%- include('includes/header.ejs') %>
            <!-- CONTENT -->
            <main>
                <div class="container">
                    <h1>Get Help Here</h1>
                    <p>Welcome to our helpdesk. Whether you have a technical issue or need assistance, we're here to
                        help
                        you.
                        Please feel free to explore our services and submit a ticket if you need assistance.</p>
                </div>
            </main>
            <!-- FOOTER -->
            <%- include('includes/footer.ejs') %>
                <!-- SCRIPTS-->
                <%- include('includes/scripts.ejs') %>
    </body>

    </html>