<link rel="stylesheet" href="/style/style.css">
<script src="/js/functions.js"></script>
<div class="header">
    <a>ciao</a>
</div>

<main>
    <h1>Benvenuti sulla nostra homepage!</h1>
    <p>Qui puoi trovare tutto ciò di cui hai bisogno.</p>
</main>

<footer>
    <div class="footer-block">
        <a href="#">Chi siamo</a>
    </div>
    <div class="footer-block">
        <a href="#">Termini e condizioni</a>
    </div>
    <div class="footer-block">
        <a href="#">Privacy Policy</a>
    </div>
    <div class="footer-block">
        <a href="#">FAQ</a>
    </div>
</footer>