<%- include('includes/head.ejs') %>

<body>
  <!-- HEADER -->
  <%- include('includes/header.ejs') %>
  <!-- CONTENT -->
  <main>
    <div class="container">
      <section class="text-center">
        <h1 class="color-blue">NGR - New Generation Resolution</h1>
        <p class="bigger-font">
          Welcome to our Helpdesk, your go-to destination for all technical inquiries and support needs. Whether
          you're encountering a technical hiccup or seeking guidance, our dedicated team is here to provide prompt
          assistance. Explore our comprehensive array of services and don't hesitate to reach out by submitting a
          ticket if you require assistance.
        </p>
      </section>
      <section class="py-3">
        <h2 class="mb-4 text-center">Helpdesk Features</h2>
        <div class="row justify-content-center">
          <div class="col-sm-5 d-flex align-items-stretch">
            <div class="card mb-4 shadow">
              <div class="card-header blue-bg pt-3">
                <h5 class="card-title">24/7 Support</h5>
              </div>
              <div class="card-body">
                <p class="card-text">Our team is available around the clock to assist you with any technical
                  issues or questions you may have.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5 d-flex align-items-stretch">
            <div class="card mb-4 shadow">
              <div class="card-header blue-bg pt-3">
                <h5 class="card-title">Multi-Channel Support</h5>
              </div>
              <div class="card-body">
                <p class="card-text">We offer a variety of support channels to suit your needs, including
                  email and self-service knowledge base.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5 d-flex align-items-stretch">
            <div class="card mb-4 shadow">
              <div class="card-header blue-bg pt-3">
                <h5 class="card-title">Remote Troubleshooting</h5>
              </div>
              <div class="card-body">
                <p class="card-text">Our experienced technicians can remotely access your device to diagnose
                  and
                  resolve issues quickly and efficiently.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5 d-flex align-items-stretch">
            <div class="card mb-4 shadow">
              <div class="card-header blue-bg pt-3">
                <h5 class="card-title">Proactive Support</h5>
              </div>
              <div class="card-body">
                <p class="card-text">We monitor your systems for potential issues and proactively reach out
                  to you to
                  prevent downtime and ensure optimal performance.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h2 class="text-center pt-2 pb-2">Community and Frequent Question</h2>
        <div class="row d-flex justify-content-center">
          <div class="col-sm-10">
            <div class="card mb-4 shadow">
              <div class="card-header blue-bg pt-3">
                <h5 class="card-title text-center">Take a look at our community</h5>
              </div>
              <div class="card-body">
                <p class="card-text text-center">If you encounter a problem, navigate to the Frequent Questions page to find the most common issues and questions searched by the community! The Community page is designed to help you search through all the tickets opened by registered members who had questions. Search for a similar question to find the solution to your problem. All issues are handled by our staff members, who are trained to assist you. Our dedicated team ensures that you receive accurate and helpful responses to your queries. Whether you're looking for technical support or general information, our community is here to help!</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <!-- FOOTER -->
  <%- include('includes/footer.ejs') %>
  <!-- SCRIPTS-->
  <%- include('includes/scripts.ejs') %>
</body>

</html>