<link rel="stylesheet" href="/style/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=GFS+Didot&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
    rel="stylesheet">

<body class="log-background">
    <!-- MAIN CONTAINER -->
    <div class="log-container">
        <!-- TITLE -->
        <h1 class="title margin-bottom">Reset password</h1>
        <!-- FORM -->
        <form class="log-form" id="forgot-password" action="/forgot-password" method="post">
            <!-- EMAIL FIELD -->
            <section class="margin-b">
                <label class="bold" for="email">E-mail</label>
                <input id="email" name="email" type="text" autocomplete="email" placeholder="Type your e-mail" required>
            </section>
            <!-- INCORRECT USERNAME OR PASSWORD ERROR -->
            <span class="error-username-password margin-b">
                <% if (typeof message !=='undefined' && message !=null) { %>
                    <%= message %>
                        <% } %>
            </span>
            <!-- FORGOT PASSWORD BUTTON -->
            <button class="log-button font" type="submit">Send link</button>
        </form>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>
<script src="/js/functions.js"></script>
<script src="/js/forgot_password_validation.js"></script>