<link rel="stylesheet" href="/style/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
        href="https://fonts.googleapis.com/css2?family=GFS+Didot&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
        rel="stylesheet">
<body class="log-background">
<!-- MAIN CONTAINER -->
<div class="log-container">
    <!-- TITLE -->
    <h1 class="title margin-bottom">OTP verification</h1>
    <!-- FORM -->
    <form class="log-form" id="otp-code" action="/otp" method="post">
        <!-- OTP FIELD -->
        <input id="uuid" name="uuid" type="hidden" value="<%= uuid.code %>">
        <section class="margin-b">
            <label class="bold" for="otp">OTP Code</label>
            <input id="otp" name="otp" type="text" placeholder="Enter OTP" required>
        </section>
        <!-- INCORRECT OTP ERROR -->
        <% if(error !== undefined) { %>
            <% if(error !== 'expired_otp') { %>
                <span class="error-otp margin-b general-error">
            Expired OTP code.
        </span>
            <% }else{ %>
                <span class="error-otp margin-b general-error">
            Invalid OTP code.
        </span>
            <% } %>
        <% } %>
        <!-- SUBMIT BUTTON -->
        <button class="log-button font" type="submit">Verify OTP</button>
    </form>
</div>
</body>

