<%- include('./includes/head.ejs') %>
<body>
<!-- HEADER -->
<%- include('./includes/header.ejs') %>
<main>
    <div class="container">
        <h4>Resource not found</h4>
    </div>
</main>

</main>
<!-- FOOTER -->
<%- include('./includes/footer.ejs') %>
<!-- SCRIPTS-->
<%- include('./includes/scripts.ejs') %>
</body>

</html>