<%- include('includes/head.ejs') %>

    <body>
        <!-- HEADER -->
        <%- include('includes/header.ejs') %>
            <!--<div class="sidebar"></div>-->
            <!-- <div class="posizione"> -->
            <!-- CONTENT -->
            <!-- <div class="container"> -->
            <main>
                <div class="container">
                    <h2>Terms of Service</h2>
                    <p></p>
                </div>
            </main>
            <!-- </div> -->
            <!-- FOOTER -->
            <footer class="footer border-top border-dark-subtle mt-5 light-bg">
                <div class="container pt-4 pb-5">
                    <div class="row align-items-strat">
                        <div class="col">
                            <span class="fw-bold">PAGES</span>
                        </div>
                        <div class="col">
                            <span class="fw-bold">USEFUL LINKS</span>
                            <div class="row">
                                <span class="">Terms of Service</span>
                                <span class="">Privacy Policy</span>
                                <span class="">Cookie Policy</span>
                            </div>
                        </div>
                        <div class="col">
                            One of three columns
                        </div>
                        <div class="col">
                            <span class="fw-bold">WHERE WE ARE</span>
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
                <div class="container">

                </div>
            </footer>
            <!-- </div> -->
            <%- include('includes/scripts.ejs') %>
    </body>

    </html>