<header class="header">
    <nav
            class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom border-dark-subtle shadow mb-5 sticky-top light-bg">
        <div class="container">
            <% if(title == "Staff panel" ) { %>
                <a class="navbar-brand static-link"><!-- inserisci img logo -->Staff panel</a>
            <% } else { %>
                <a class="navbar-brand link" href="/admin"><!-- inserisci img logo -->Staff panel</a>
            <% } %>
            <!-- BUTTON SHOW SMALL SCREEN -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- ALL PAGES LINK -->
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"
                 id="navbarNavAltMarkup">
                <!-- MAIN PAGES -->
                <div class="d-sm-inline-flex gap-4">
                    <% if(title == "View Tickets" ) { %>
                        <a class="nav-link static-link">View tickets</a>
                    <% } else { %>
                        <a class="nav-link link" href="/view_tickets">View tickets</a>
                    <% } %>
                    <% if(title == "Ticket Dashboard" ) { %>
                        <a class="nav-link static-link">Ticket dashboard</a>
                    <% } else { %>
                        <a class="nav-link link" href="/dashboard">Ticket dashboard</a>
                    <% } %>
                    <% if(title == "Closed Tickets" ) { %>
                        <a class="nav-link static-link">Closed tickets</a>
                    <% } else { %>
                        <a class="nav-link link" href="/closed_tickets">Closed
                            tickets</a>
                    <% } %>
                    <% if(user) { %>
                        <% if(user.tipo == 'admin') { %>
                            <a class="link" href="/super-admin">Admin page</a>
                        <% } %>
                    <% } %>
                </div>
                <!-- LOG PAGES -->
                <div class="d-sm-inline-flex gap-4">
                    <% if (!user) { %>
                        <a class="nav-link link" href="/signup">Register</a>
                        <a class="nav-link link" href="/login">Login</a>
                    <% } else { %>
                        <% if(title == "Dashboard" ) { %>
                            <a class="nav-link static-link">Welcome <%= user.email %></a>
                        <% } else { %>
                            <a class="nav-link link" href="/user-dashboard">Welcome <%= user.email %></a>
                        <% } %>
                        <form action="/logout" method="post">
                            <button class="nav-link link">Log out</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>
</header>