<header class="header">
    <nav
            class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom border-dark-subtle shadow mb-5 sticky-top light-bg">
        <div class="container">
            <% if(title == "Admin panel" ) { %>
                <a class="navbar-brand static-link"><!-- inserisci img logo -->Admin panel</a>
            <% } else { %>
                <a class="navbar-brand link" href="/super-admin"><!-- inserisci img logo -->Admin panel</a>
            <% } %>
            <!-- BUTTON SHOW SMALL SCREEN -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- ALL PAGES LINK -->
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"
                 id="navbarNavAltMarkup">
                <!-- MAIN PAGES -->
                <div class="d-sm-inline-flex gap-4">
                    <% if(title == "Update User" ) { %>
                        <a class="static-link">Update user</a>
                    <% } else { %>
                        <a class="link" href="/update-user">Update user</a>
                    <% } %>
                    <a class="nav-link link" href="/">Home user</a>
                    <a class="nav-link link" href="/admin">Home staff</a>
                </div>
                <!-- LOG PAGES -->
                <div class="d-sm-inline-flex gap-4">
                    <% if (!user) { %>
                        <a class="nav-link link" href="/signup">Register</a>
                        <a class="nav-link link" href="/login">Login</a>
                    <% } else { %>
                        <form action="/logout" method="post">
                            <button class="nav-link link">Log out</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>
</header>